<div class="row">
    <div data-popup-view-value="html()" class="col-md-2" style="background:red; min-height:100px;">
        I love red
    </div>
    <div data-popup-view-value="html()" class="col-md-2" style="background:green; min-height:100px;">
        Green is OK
    </div>
    <div data-popup-view-value="html()" class="col-md-2" style="background:yellow; min-height:100px;">
        Yellow ?
    </div>
    <div data-popup-view-value="html()" class="col-md-2" style="background:blue; min-height:100px;">
        Blue is neutral for me
    </div>
    <div data-popup-view-value="html()" class="col-md-2" style="background:pink; min-height:100px;">
        I hate pink
    </div>
</div>


