{% load static %}

<script
    type="text/javascript"
    src="{% url "django_popup_view_field:javascript-catalog" %}">
</script>

<script type="text/template" id="template-django-popup-view-field">
    <div class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
                <div class="modal-body">
                    Data is loading ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default modal-footer-close" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

<script
    type="text/javascript"
    src="{% static 'django_popup_view_field/js/django_popup_view_field.min.js' %}">
</script>
