{% extends "base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block content %}

    <h1> Demo - django-popup-view-field </h1>

    <div>
        <ul class="nav nav-tabs" role="tablist" id="tabs" data-toggle="tab">
            <li role="presentation" class="active">
                <a href="#bootstrap" aria-controls="bootstrap" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-star"></span>
                    Form using django-bootstrap3
                </a>
            </li>

            <li role="presentation">
                <a href="#crispy" aria-controls="crispy" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-star"></span>
                    Form using Crispy forms + helper
                </a>
            </li>

            <li role="presentation">
                <a href="#crispy-helper" aria-controls="crispy-helper" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-star"></span>
                    Form using Crispy forms without helper
                </a>
            </li>
        </ul>

        {# ------------------------------- #}
        <div class="tab-content">

            <div class="tab-pane fade in active" id="bootstrap">
                <h4> Render with django-bootstrap3 </h4>
                <form action="." method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form_1 %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Submit
                        </button>
                    {% endbuttons %}
                </form>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="crispy">
                <h4> Crispy + helper </h4>
                {% crispy form_2 form_2.helper %}
            </div>

            <div role="tabpanel" class="tab-pane fade" id="crispy-helper">
                <h4> Crispy without helper </h4>
                {% crispy form_3 %}
            </div>

        </div>

    </div>

{% endblock content %}



