{% extends "base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block content %}

    <h1> Demo - django-popuop-view-field </h1>

    <hr/>
    <h4> Render with django-bootstrap3 </h4>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form_1 %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
    </form>

    <hr/>
    <h4> Crispy + helper </h4>
    {% crispy form_2 form_2.helper %}


    <hr/>
    <h4> Crispy without helper </h4>
    {% crispy form_3 %}


{% endblock content %}
